* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imageContainer {
  width: 680px;
  height: 425px;
  background-image: url('/public/background.png');
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 33px 39px 0px 32px;
  color: #ffff;
  align-items: center;
}